.nav{
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    padding: 0 2em;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(20px);
    z-index: 5;
}

.wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 60px;
    justify-content: flex-start;
}

.navlink{
    color: white;
    margin-right: 3em;
    transition: all .5s;
    text-decoration: none;
}

.navlink:hover{
    color: black;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: white;
    text-shadow: 4px 4px white;
}
